{% extends "base.html" %}

{% block title %}About Me{% endblock title %}

{% block content %}
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="https://static.wixstatic.com/media/3f8b9e_fbfe0dcb7fbc4a41ad0eee4fa51d7ff7~mv2.jpeg/v1/fill/w_315,h_298,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Website%20Headshot.jpeg" alt="...">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">Joey Sorenson</h3>
                                    <span class="text-primary">Therapist</span>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Position:</span> Therapist</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Experience:</span> 2+ years</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> joey@lifedynamic-counseling.com </li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Website:</span> https://www.lifedynamic-counseling.com/</li>
                                    <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span> 512 855-2678 </li>
                                </ul>
                                <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                    <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                    <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div>
                    <span class="section-title text-primary mb-3 mb-sm-4">About Me</span>
                    <p> I am a psychotherapist who sees myself as a partner in your development and in reaching your greatest fulfillment.</p>
                    <p class="mb-0">Having been a successful software sales executive, I know that there is so much more to life's purpose than just wealth and professional accolades.

 

I became a counselor to help clients navigate life and to get "unstuck" when the road ahead seems unclear or even hopeless.

I'm a CBT and EMDR trained counselor, and have a wide depth of experience with different clients.

 

In session, you can expect to explore the roots of what’s really going on with you, and practice real tools we can use to improve life’s trajectory. </p>
                </div>
            </div>
                        <div>
                            <span class="section-title text-primary mb-3 mb-sm-4">Education</span>
                            <p>

    MA, Mental Health Counseling, St. Edward's University, Dec 2021
                            </br>  
    BA, Government and History, University of Texas at Austin, May 2014
</p>
                            <p class="mb-1-9"> </p>
              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}