<html>
{% extends "base.html" %}

{% block title %}Search{% endblock title %}

<head>


   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% block content %}
<h1> Search Results </h1> 
{% if searched %}
 <h3> Here are your results... </h3> 
 <br/> 
 {% for article in articles %}
   <a href="{% url 'article_detail' article.id %}"> {{ article }} </a>  <br/> 
 {% endfor %}
{% else %}
   <h3>No search entries</h3> 
{% endif %}

{% endblock content %}


</body>

<html>